@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body{
    background: linear-gradient(90deg , #e66465 0%, #9198e5 100%);
    background-position: center;
    background-size: cover;
    height: fit-content;
}

nav{
    display: flex;
    flex-direction:row;
    height: 10vh;
    align-items: center;
}

nav .nav-menu-button{
    display: none;
}

.myspace{
    flex: 1;
    font-family: "Alkatra", "cursive";
    font-weight: 300;
    font-size: 30px;
    text-align: left;
    padding : 2%;
}

.myspace-link{
    text-decoration: none;
    color:black;
    text-align: left;
}

.myspace:hover{
    cursor: pointer;
}

nav .nav-items{
    flex: 2;
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    height: 10vh;
    padding: 0% 5%;
    margin: 10;
    align-items: center;
}

.nav-link{
    font-family: "Alkatra";
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color:black;
}

.nav-link:hover{
    color: brown;
}

@media screen and (max-width:770px){
    nav .nav-items{
        display: none;
    }

    nav .nav-menu-button{
        display: block;
        margin: 0;
    }

    nav .nav-menu-button i{
        background-color: transparent;
        color:black;
        font-size: 30px;
    }
}
