*{
    box-sizing: border-box;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
<<<<<<< HEAD
=======
    background: linear-gradient(90deg , #e66465 0%, #9198e5 100%);
    background-position: center;
    background-size: cover;
    height: fit-content;
>>>>>>> 5c150dafba1521ee7d21b74040b8f0251f7ae149
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.brand-name{
    font-size: 1.5rem;
    margin: .5rem;
    color:white;
    text-decoration: none;
}

.nav-bar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-bar-links li{
    list-style-type: none;
}

.nav-bar-links li a{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    display: block;
    font-size: 1.2rem;
}

.nav-bar-links li:hover{
    background-color: grey;
    transition-duration: 0.5s;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 650px) {
    .toggle-button{
        display: flex;
    }

    .nav-bar-links{
        display: none;
        width: 100%;
    }

    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-bar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .nav-bar-links li{
        text-align: center;
    }

    .nav-bar-links li a{
        padding: .5rem 1rem;
    }

    .nav-bar-links.active{
        display: flex;
    }
}
=======
    flex-direction: row;
    align-items: center;
    background-color: black;
}

.logo{
    flex: 1;
}

.logo a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    color: white;
    font-family: "Alkatra";
    font-size: 30px;
    max-width: fit-content;
    margin: 2%;
}

.logo a:hover{
    color:#9198e5;
}

.main-menu{
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.main-menu a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Alkatra";
    padding: 10%;
    margin: 0;
}

.main-menu li{
    list-style-type: none;

}

.main-menu a:hover{
    background: #e66465;
    color: black;
    transition-duration: 0.5s;
}

.main-menu ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.main-menu ul li{
    position: relative;
    width: 100%;
    text-align: center;
}

.main-menu li:hover .dropdown-1 > ul li{
    display: block;
    background: black;
    transition-duration: 10s;
}

.dropdown-1 ul li{
    display: none;
    position: relative;
}

.dropdown-1 ul{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    transition-duration: 1s;
}
>>>>>>> 5c150dafba1521ee7d21b74040b8f0251f7ae149
